/* #507274 */

body {
    background-color: #293249;
}

h1, span {
    color: #F7FFEF;
}

#colorDisplay {
    text-transform: uppercase;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
}
